body{
  margin:4px;
}
.navbar{
  width: 100%;
  padding: 0px;
  position: static;
  top: 0px;
  text-align: center;
  transition: .5s;
  background-color:red;
}

.navbar ul li{
  list-style-type: none;
  display:inline-block;
  padding: 10px 32px;
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  cursor: pointer;
  border-radius:10px;
  transition: .5s;
}

  
  .navbar ul li:hover{
  background: red;
}

.box{
    width: 80%;
    height: 2000px;
    background: #666666;
    margin:auto;


}
  .solidHeader{
  background-color:rgba(255,255,255,.5);
}
  .solidHeader ul li{
    color:#777;
}
/*
.fullscreen-bg {

*/
}
.div_video{

}
/*
.fullscreen-bg__video {
  position: absolute;
  width: 80%;
  height: 40%;
  margin:auto;
}
*/
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 100%;
    top: 50%;
    width:100%;
    padding-bottom:0px;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {

  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
.outside{
  width:100%;
}


